.list-cars{
    margin: 2rem 0;
}
.car-item {
    background-color: #F2E3D5;
    padding: .5rem;
    margin-top: 1rem;
}


.car-item img {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

.car-item a {
    background-color: #3CA6A6;
    padding: .5rem;
    width: 100%;
    text-align: center;
    color: white;
    display: block;
}

.car-item a:hover {
    background-color: #026773;
}
.button-order > span {
    color: #026873bc;
}

.button-order>span:hover {
    cursor: pointer;
    color: #026873;
    text-decoration: underline;
}