.navegador {
    background-color: #000000;
    padding: 2rem;
}

.navegador > a {
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #E7F0F1;
    text-decoration: none;
    text-transform: uppercase;
}

.navegador > a:hover {
    font-weight: 900;
}